<!--<h1 style="background-color:none;">Coming Soon...</h1>-->
<!--<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>-->
<div id="1" class="fill-screen" style="height:100vh;width:100%;background-color:#000;clear:both;overflow:hidden;">
  <div class="fill-screen trans-overlay" style="">
  </div>
  <div class="bot-center">
    <a href="#2">Next</a>
  </div>
  <div class="center" style="z-index:10;opacity: .5;">
    <img src="assets/ajc.svg" style="height:300px;width:300px;z-index:100;fill:#FFFFFF;">
  </div>
  <video style="float:left;min-width:100%;min-height:100%;width:auto;height:auto;" preload autoplay muted loop>
    <source src="assets/coachella_sd.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<div id="2" class="fill-screen" style="background-color:orange;text-align:center;overflow:hidden;">
  <div style="float:left;position:absolute;width:100%;margin-top:24px;text-align:center;">
    <h1>Here's a real fuckin' elegant header</h1>
    SHIT THIS IS NOW AN 'R-RATED' SITE<br><br>
    <img src="assets/rated-r.png">
  </div>
  <div class="bot-center black">
    <a href="#3">Next</a>
  </div>
</div>
<div id="3"  class="fill-screen" style="background-color:salmon;text-align:center;overflow:hidden;">
  <div style="float:left;position:absolute;width:100%;margin-top:24px;text-align:center;">
    <h1>Tahoma is okay</h1>
    TIME TO USE IT EVERYWHERE.
  </div>
  <div class="bot-center black">
    <a href="#1">Top</a>
  </div>
</div>