<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <nav class="tab-bar">
      <!--<div class="left tab-bar-section"><-- I stretch all the way to the left </div>
      <div class="right-small"></div>-->

      <section class="left tab-bar-section">
        <h1 class="title">San Diego Breweries</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <!--
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">San Diego Breweries</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>
    -->

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Search & Filter</label></li>
        <li><a href="#">Beer Thing 1</a></li>
        <li><a href="#">Beer Thing 2</a></li>
        <li><a href="#">Beer Thing 3</a></li>
      </ul>
    </aside>

    <section class="main-section" style="height:100vh;width:100vw;">
      <div id="map-canvas" style="height:100%;width:100%;"></div>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>

<!--
<div id="1" class="fill-screen" style="height:100vh;width:100%;background-color:#000;clear:both;overflow:hidden;color:#AFA;">
San Diego Breweries
</div>  -->

